@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  font-size: 24px;
  font-weight: 700;
}

.btn-primary {
  background-color: rgb(37 99 235);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.btn-danger {
  background-color: rgb(185 28 28);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.link {
  color: rgb(37 99 235);
}

.text-input {
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
}

.nav-bar-container {
  width: 100vw;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-color: black;
}
