<!DOCTYPE html>
<html>
  <head>
    <title>Online Grocery Store</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'app-bundle' %>
    <%= stylesheet_pack_tag 'app-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
